/* Base HTML Styles */

@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-lt');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
	--black: rgb(22, 19, 19);
	--pink: rgb(247,230,229);
	--light-brown: rgb(218,192,190);
	--dark-brown: rgb(93,81,81);
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Proxima Nova', sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif; */
    font-family: 'DM Serif Display', serif;
}

body {
    position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global Styles */

label, input, select, textarea, area {
    display: block;
    width: 100%;
}

input, select, textarea {
    padding: 8px;
}


/* Header */

header {
    background-color: var(--black);
    height: 11vh;
    padding: 0px 32px;
}

.desktop-nav {
    display: none;
}

.mobile-header {
    background-color: var(--black);
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav {
    background-color: var(--black);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav ul li {
    line-height: 60px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav a {
    text-decoration: none;
    color: var(--pink);
    display: block;
    text-align: end;
    padding: 4px 16px;
}

nav {
    color: var(--black);
}

header button {
    all: unset;
}

#logo {
    height: 64px;
    width: auto;
} 

.display-none {
    display: none;
}

.hamburger-button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    header {
        padding: 0px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: var(--pink);
        font-size: 18px;
    }

    header a:hover {
        color: rgba(247,230,229,29%);
        transition: all 0.6s ease;
    }

    nav {
        display: inline-block;
    }

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    .hamburger-icon {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    #logo {
        height: 72px;
        width: auto;
    } 
}

@media (min-width: 992px) {
    header {
        padding: 0px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: var(--pink);
        font-size: 18px;
    }

    header a:hover {
        color: rgba(247,230,229,29%);
        transition: all 0.6s ease;
    }

    nav {
        display: inline-block;
    }

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    .hamburger-icon {
        display: none;
    }

    #logo {
        height: 72px;
        width: auto;
    }
}

@media (min-width: 1280px) {
    header {
        padding: 0px 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: var(--pink);
        font-size: 18px;
    }

    header a:hover {
        color: rgba(247,230,229,29%);
        transition: all 0.6s ease;
    }

    nav {
        display: inline-block;
    }

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    .hamburger-icon {
        display: none;
    }

    #logo {
        height: 72px;
        width: auto;
    }
}

/* background-gradient */

.bg-gradient {
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(22,19,19,1.3));
}

/* hero */

#hero {
    height: 89vh;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero p {
    font-size: 1.7rem;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 500;
    margin: 0px;
    bottom: 0;
    padding: 200px 0px;
    color: var(--pink);
}  

#hero footer {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: var(--pink);
    }

@media (min-width: 768px) {
    #hero {
        height: 89vh;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #hero p {
        font-size: 1.9rem;
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        margin: 0px;
        bottom: 0;
        padding: 200px 0px;
        color: var(--pink);
    } 

    #hero footer {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 16px;
        color: var(--pink);
        }
}

@media (min-width: 992px) {
    #hero {
        height: 89vh;
        padding: 0px 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #hero p {
        font-size: 2.1rem;
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        margin: 0px;
        bottom: 0;
        padding: 200px 0px;
        color: var(--pink);
        position: relative;
    } 

    #hero footer {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: var(--pink);
    }
}

@media (min-width: 1280px) {
    #hero {
        height: 89vh;
        padding: 0px 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #hero p {
        font-size: 2.3rem;
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        margin: 0px;
        bottom: 0;
        padding: 200px 0px;
        color: var(--pink);
        position: relative;
    } 

    #hero footer {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 16px;
        color: var(--pink);
        }
}

/* video */

#video {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 89%;
    object-fit: cover;
    z-index: -1;
}

/* about */

#about-section{
    height: 144vh;
    background-color: var(--pink);
    padding: 0px 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-section h1 {
    font-size: 5rem;
    font-family: 'DM Serif Display', serif;
    max-width: 70%;
    color: var(--black);
}

#about-section h2 {
    font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.5rem;
    color: var(--dark-brown);
    padding: 8px 0px;
    margin: 0px 0px 24px;
    font-weight: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
}

#about-section p {
    font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 20px;
    padding: 4px 0px;
    margin: 0px 0px 24px;
    font-weight: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
}

#about-section footer {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 16px;
}

.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-headings {
    display: block;
}

@media (min-width: 768px) {
    #about-section {
        height: 89vh;
        background-color: var(--pink);
        padding: 0px 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #about-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        inline-size: 650px;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section p {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 20px;
        padding: 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section footer {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 16px;
    }

    .about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-headings {
        display: block;
    }
}

@media (min-width: 992px) {
    #about-section{
        height: 89vh;
        background-color: var(--pink);
        padding: 0px 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #about-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        inline-size: 650px;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section p {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 20px;
        padding: 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section footer {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 16px;
    }

    .about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-headings {
        display: block;
    }
}

@media (min-width: 1280px) {
    #about-section {
        height: 89vh;
        background-color: var(--pink);
        padding: 0px 200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #about-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        inline-size: 650px;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section p {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 20px;
        padding: 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #about-section footer {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 16px;
    }

    .about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #about-headings {
        display: block;
    }
}

/* portfolio */

#portfolio-section {
    height: 240vh;
    width: auto;
    background-color: var(--pink);
    padding: 0px 32px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#portfolio-section h1 {
    font-size: 4rem;
    font-family: 'DM Serif Display', serif;
    color: var(--black);
}

#portfolio-section h2 {
    font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.5rem;
    color: var(--dark-brown);
    padding: 8px 0px 4px 0px;
    margin: 0px 0px 24px;
    font-weight: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
}

#portfolio-examples {
    display: flex;
}

#portfolio-examples article {
    padding: 32px 16px;
    max-width: 350px;
    min-width: 250px;
}

#portfolio-examples article h2 {
    margin-bottom: 16px;
    text-align: center;
    overflow-wrap: break-word;
}

#portfolio-examples article p {
    margin-bottom: 16px;
    text-align: center;
    padding-top: 20px;
}

#article-height {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.diploma {
    background-color: var(--light-brown);
    border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 25px;
}

.shecodes-web {
    background-color: var(--light-brown);
    border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 25px;
}

.python {
    background-color: var(--light-brown);
    border-radius: 10px;
    padding: 45px 50px;
}


#portfolio-examples .photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

@media (min-width: 821px) {
    #portfolio-section {
        height: 144vh;
        width: auto;
        background-color: var(--pink);
        padding: 0px 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
    }

    #portfolio-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #portfolio-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 1.5rem;
        color: var(--dark-brown);
        padding: 8px 0px 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #portfolio-examples {
        display: flex;
        max-height: 550px;
    }

    #portfolio-examples article {
        padding: 32px 16px;
        max-width: 350px;
        min-width: 250px;
    }

    #portfolio-examples article h2 {
        margin-bottom: 16px;
        text-align: center;
        overflow-wrap: break-word;
    }
    
    #portfolio-examples article p {
        margin-bottom: 16px;
        text-align: center;
        padding-top: 20px;
    }

    .portfolio-block-section {
        display: flex;
        justify-content: center;
    }

    #article-height {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: center;
    }

    .diploma {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .shecodes-web {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .python {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 45px 50px;
    }


    #portfolio-examples .photos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    #portfolio-section {
        height: 144vh;
        width: auto;
        background-color: var(--pink);
        padding: 0px 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
    }

    #portfolio-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #portfolio-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 1.5rem;
        color: var(--dark-brown);
        padding: 8px 0px 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #portfolio-examples {
        display: flex;
        max-height: 550px;
    }

    #portfolio-examples article {
        padding: 32px 16px;
        max-width: 350px;
        min-width: 250px;
    }

    #portfolio-examples article h2 {
        margin-bottom: 16px;
        text-align: center;
        overflow-wrap: break-word;
    }
    
    #portfolio-examples article p {
        margin-bottom: 16px;
        text-align: center;
        padding-top: 20px;
    }

    .portfolio-block-section {
        display: flex;
        justify-content: center;
    }

    #article-height {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: center;
    }

    .diploma {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .shecodes-web {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .python {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 45px 50px;
    }


    #portfolio-examples .photos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media (min-width: 1280px) {
    #portfolio-section {
        height: 144vh;
        width: auto;
        background-color: var(--pink);
        padding: 0px 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
    }

    #portfolio-section h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        color: var(--black);
    }

    #portfolio-section h2 {
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px 4px 0px;
        margin: 0px 0px 24px;
        font-weight: normal;
        overflow-wrap: break-word;
        line-height: 1.5;
    }

    #portfolio-examples {
        display: flex;
        max-height: 550px;
    }

    #portfolio-examples article {
        padding: 32px 16px;
        max-width: 350px;
        min-width: 250px;
    }

    #portfolio-examples article h2 {
        margin-bottom: 16px;
        text-align: center;
        overflow-wrap: break-word;
    }
    
    #portfolio-examples article p {
        margin-bottom: 16px;
        text-align: center;
        padding-top: 20px;
    }

    .portfolio-block-section {
        display: flex;
        justify-content: center;
    }

    #article-height {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: center;
    }

    .diploma {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .shecodes-web {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 20px 50px;
        margin: 0px 25px 0px 0px;
    }

    .python {
        background-color: var(--light-brown);
        border-radius: 10px;
        padding: 45px 50px;
    }


    #portfolio-examples .photos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

/* contact */

.contact-section {
    background-color: var(--pink);
    height: 176vh;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contact-headings {
    display: block;
}

.contact h1 {
    font-size: 4rem;
    font-family: 'DM Serif Display', serif;
    max-width: 70%;
    color: var(--black);
}

.contact p {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-size: 1.5rem;
    color: var(--dark-brown);
    line-height: 1.5;
    margin: 0px 0px 24px;
}

#profile-pic {
    width: 0px;
    height: 0px;
}

#contact-and-photo { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-section h3 {
    padding: 0px 16px;
}

#instagram-icon, #facebook-icon, .social-media h3 {
    display: inline;
}

.social-media a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .gibhub-icon, .linkedin-icon, .instagram-icon, .facebook-icon {
    display: inline-flex;
    flex: 1;
    padding: 24px 32px 24px 0px;
}

.static {
    position: absolute;
    background-color: var(--pink);
}

.static:hover {
    opacity: 0;
    cursor: pointer;
}

.form {
    padding-top: 104px;
}

.form h2{
    font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 2rem;
    color: var(--dark-brown);
    padding: 8px 0px;
    font-weight: normal;
}

.form label {
    color: var(--black);
}

.block-section, #textarea-section {
    display: inline-block;
    width: 50%;
    margin: 40px auto;
}

.block-section {
    float: left;
    padding-right: 32px;
}

#your-name, #your-email, #your-message {
    padding-bottom: 8px;
}

#your-email {
    padding-top: 24px;
}

.form input[type="text"], .form input[type="email"], .form textarea {
    border: rgb(148,148,148) solid 1px;
    border-radius: 4px;
    background-clip: padding-box;
    width: 100%;
    color: rgb(51,51,51);
    font-size: 1.5rem;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    padding: 36px 16px;
    vertical-align: middle;
}

.form input[type="text"], .form input[type="email"] {
    height: 40px;
}

.form textarea {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
    height: 202px;
}

.form input[type="submit"] {
    background-color: var(--black);
    color: var(--pink);
    width: 240px;
    height: 56px;
    border: 0;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

@media (min-width: 768px) {
    .contact-section {
        background-color: var(--pink);
        height: 144vh;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #contact-headings {
        display: block;
    }

    .contact h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        max-width: 70%;
        color: var(--black);
    }

    .contact p {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-size: 1.5rem;
        color: var(--dark-brown);
        line-height: 1.5;
        margin: 0px 0px 24px;
    }

    #profile-pic{
        height: 280px;
        width: 160px;
        border-radius: 10px;
    }

    #contact-and-photo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contact-section h3 {
        padding: 0px 16px;
    }

    #instagram-icon, #facebook-icon, .social-media h3 {
    display: inline;
    }

    .social-media a {
        text-decoration: none;
        color: var(--black);
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .gibhub-icon, .linkedin-icon, .instagram-icon, .facebook-icon {
        display: inline-flex;
        flex: 1;
        padding: 24px 40px 24px 0px;
    }

    .static {
        position: absolute;
        background-color: var(--pink);
    }
    
    .static:hover {
        opacity: 0;
        cursor: pointer;
    }

    .form {
        padding-top: 104px;
    }

    .form h2{
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        font-weight: normal;
    }

    .form label {
        color: var(--black);
    }

    .block-section, #textarea-section {
        display: inline-block;
        width: 50%;
        margin: 40px auto;
    }

    .block-section {
        float: left;
        padding-right: 32px;
    }

    #your-name, #your-email, #your-message {
        padding-bottom: 8px;
    }

    #your-email {
        padding-top: 24px;
    }

    .form input[type="text"], .form input[type="email"], .form textarea {
        border: rgb(148,148,148) solid 1px;
        border-radius: 4px;
        background-clip: padding-box;
        width: 100%;
        color: rgb(51,51,51);
        font-size: 1.5rem;
        font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        padding: 36px 16px;
        vertical-align: middle;
    }

    .form input[type="text"], .form input[type="email"] {
        height: 40px;
    }

    .form textarea {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.5;
        height: 202px;
    }

    .form input[type="submit"] {
        background-color: var(--black);
        color: var(--pink);
        width: 240px;
        height: 56px;
        border: 0;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 4px;
        float: right;
    } 
}

@media (min-width: 992px) {
    .contact-section {
        background-color: var(--pink);
        height: 144vh;
        padding: 0px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #contact-headings {
        display: block;
    }

    .contact h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        max-width: 70%;
        color: var(--black);
    }

    .contact p {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-size: 1.5rem;
        color: var(--dark-brown);
        line-height: 1.5;
        margin: 0px 0px 24px;
    }

    #profile-pic{
        height: 280px;
        width: 160px;
        border-radius: 10px;
    }

    #contact-and-photo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contact-section h3 {
        padding: 0px 16px;
    }

    #instagram-icon, #facebook-icon, .social-media h3 {
    display: inline;
    }

    .social-media a {
        text-decoration: none;
        color: var(--black);
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .gibhub-icon, .linkedin-icon, .instagram-icon, .facebook-icon {
        display: inline-flex;
        padding: 24px 40px 24px 0px;
    }

    .static {
        position: absolute;
        background-color: var(--pink);
    }
    
    .static:hover {
        opacity: 0;
        cursor: pointer;
    }

    .form {
        padding-top: 104px;
    }

    .form h2{
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        font-weight: normal;
    }

    .form label {
        color: var(--black);
    }

    .block-section, #textarea-section {
        display: inline-block;
        width: 50%;
        margin: 40px auto;
    }

    .block-section {
        float: left;
        padding-right: 32px;
    }

    #your-name, #your-email, #your-message {
        padding-bottom: 8px;
    }

    #your-email {
        padding-top: 24px;
    }

    .form input[type="text"], .form input[type="email"], .form textarea {
        border: rgb(148,148,148) solid 1px;
        border-radius: 4px;
        background-clip: padding-box;
        width: 100%;
        color: rgb(51,51,51);
        font-size: 1.5rem;
        font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        padding: 36px 16px;
        vertical-align: middle;
    }

    .form input[type="text"], .form input[type="email"] {
        height: 40px;
    }

    .form textarea {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.5;
        height: 202px;
    }

    .form input[type="submit"] {
        background-color: var(--black);
        color: var(--pink);
        width: 240px;
        height: 56px;
        border: 0;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 4px;
        float: right;
    }  
}

@media (min-width: 1280px) {
    .contact-section {
        background-color: var(--pink);
        height: 144vh;
        padding: 0px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #contact-headings {
        display: block;
    }

    .contact h1 {
        font-size: 5.5rem;
        font-family: 'DM Serif Display', serif;
        max-width: 70%;
        color: var(--black);
    }

    .contact p {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-size: 1.5rem;
        color: var(--dark-brown);
        line-height: 1.5;
        margin: 0px 0px 24px;
    }

    #profile-pic{
        height: 280px;
        width: 160px;
        border-radius: 10px;
        margin-right: 152px;
    }

    #contact-and-photo{
        display: flex;
        justify-content: space-between;
		align-items: center;
		width: 100%;
    }

    .contact-section h3 {
        padding: 0px 16px;
    }

    #gibhub-icon, #linkedin-icon, #instagram-icon, #facebook-icon, .social-media h3 {
    display: inline;
    }

    .social-media a {
        text-decoration: none;
        color: var(--black);
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .gibhub-icon, .linkedin-icon, .instagram-icon, .facebook-icon {
        display: inline-flex;
        padding: 24px 40px 24px 0px;
    }

    .static {
        position: absolute;
        background-color: var(--pink);
    }
    
    .static:hover {
        opacity: 0;
        cursor: pointer;
    }

    .form {
        padding-top: 104px;
    }

    .form h2{
        font-family: 'Proxima Nova Lt', "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 2rem;
        color: var(--dark-brown);
        padding: 8px 0px;
        font-weight: normal;
    }

    .form label {
        color: var(--black);
    }

    .block-section, #textarea-section {
        display: inline-block;
        width: 50%;
        margin: 40px auto;
    }

    .block-section {
        float: left;
        padding-right: 32px;
    }

    #your-name, #your-email, #your-message {
        padding-bottom: 8px;
    }

    #your-email {
        padding-top: 24px;
    }

    .form input[type="text"], .form input[type="email"], .form textarea {
        border: rgb(148,148,148) solid 1px;
        border-radius: 4px;
        background-clip: padding-box;
        width: 100%;
        color: rgb(51,51,51);
        font-size: 1.5rem;
        font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        padding: 36px 16px;
        vertical-align: middle;
    }

    .form input[type="text"], .form input[type="email"] {
        height: 40px;
    }

    .form textarea {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.5;
        height: 202px;
    }

    .form input[type="submit"] {
        background-color: var(--black);
        color: var(--pink);
        width: 240px;
        height: 56px;
        border: 0;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 4px;
        float: right;
    }  
}

/* Footer */

.footer {
    background-color: var(--pink);
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 500;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 16px;
}
